# Python
__pycache__/
*.pyc

# Virtual environments
venv/
.env

# Cache / runtime data
cache/

# IDE / Editor
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Temporary files
tempCodeRunnerFile.python

# Jupyter (if any later)
.ipynb_checkpoints/
